.container {
  margin: 0 auto;
  width: 1200px;
  height: 1200px;
}

.rows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columns {
  border: 2px solid black;
}

.hover {
  background-color: lightblue;
}

#dimensions-button {
  text-align: center;
  margin-bottom: 10px;
}