.rows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.columns {
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

.hover {
  background-color: lightblue;
}